<!DOCTYPE html>
<html
  lang="en"
  class="min-h-screen flex flex-col"
  data-theme="sunshine"
  style="scrollbar-gutter: stable;"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · GSMLG">
      {assigns[:page_title] ||
        dgettext("navigation", "General Server Management Leading Governance")}
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      href={
        DuskmoonBundler.static_path(
          GsmlgAppWeb.Endpoint,
          "/assets/css/app.css",
          profile: :gsmlg_app_web
        )
      }
    />
    <script
      defer
      phx-track-static
      type="module"
      src={
        DuskmoonBundler.static_path(
          GsmlgAppWeb.Endpoint,
          "/assets/js/app.js",
          profile: :gsmlg_app_web
        )
      }
    >
    </script>
  </head>
  <body class={[
    "antialiased min-h-screen flex flex-col bg-surface text-on-surface"
  ]}>
    {@inner_content}
  </body>
</html>
